<!DOCTYPE html>
<html lang='en'>
	<head>
		<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css">
		{% block head %}

		<title></title>
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
