<!DOCTYPE html>
<html>
    <head>
        <link href="{{url_for('static', filename='css/style1.css')}}" rel="stylesheet" type="text/css">
        <title>Dictionary</title>
    </head>
    <body>
        <section>
            <div class="inp-div">
                <input type="text" id="inp-inp" name="search" placeholder="Enter word"/>
                <button id="inp-btn">Search</button>
            </div>
            <div class="out-div">
                
            </div>
        </section>
        <script src="{{url_for('static', filename='js/function.js')}}"></script>
    </body>
</html>