{% extends 'base.html' %}
{% block head %}
<title>plural and singular</title>
<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
<div id="header_main">
	<ul id="hslider">
		<li><a href="{{url_for('homepage')}}">homepage</a></li>
		<li><a href="{{url_for('dictionary')}}">dictionary</a></li>
		<li><a href="{{url_for('spelling')}}">spelling</a></li>
	</ul>
</div>
<div class="login">
	<h1>plural and singular</h1>
	<div>
		<form method="POST" action="{{url_for('plural1')}}">
			<label for="word">plural<br>
			<input type="textarea" name="word" placeholder="enter the word" required="required"><br>
			<button class="btn btn-primary btn-block btn-large" type="submit">get the plural</button>
		</form>
	</div>
	<br>
	{{plurals}}
	<div>
		<form method="POST" action="{{url_for('singular')}}">
			<label for="word">singular</label><br>
			<input type="textarea" name="word" placeholder="enter the word" required="required"><br>
			<button class="btn btn-primary btn-block btn-large" type="submit">get the singular</button>
		</form>
		<br>
		{{singulars}}
	</div>
</div>
{% endblock %}
