{% extends 'base.html' %}
{% block head %}
<link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" type="text/css">
<title>spelling</title>
{% endblock %}
{% block body %}
<div id="header_main">
	<ul id="hslider">
		<li><a href="{{url_for('homepage')}}">homepage</a></li>
		<li><a href="{{url_for('dictionary')}}">dictionary</a></li>
		<li><a href="{{url_for('plural')}}">plural and singular</a></li>
	</ul>
</div>
<div class="login">
	<h1>spelling</h1>
	<div>
		<form method="POST" action="{{url_for('grammar')}}">
			<label for="word">enter the word</label><br>
			<input type="textarea" name="word" placeholder="enter the word" required="required"><br>
			<button class="btn btn-primary btn-block btn-large" type="submit">get the correct spelling</button>
		</form>
	</div>
	<br><br>
	the correct spelling is {{correct}}
</div>
{% endblock %}
